<tr {{bindAttr data-module-item-id="item.id" class=":module-item item.visible:visible:hidden"}}>
  <td class="long">
    {{#if editable}}
      <img class="drag-handler" src="img/item-handle.png" style="height: 12px;padding-bottom: 4px;" />
    {{/if}}

    <div style="display: inline-block;" {{bindAttr class=item.indentClass}}>
      <span class="type_icon" {{bindAttr title=item.type}}>
        <i {{bindAttr class=item.iconClass}} aria-label="Item type: Assignment"></i>
      </span>

      {{item.title}} ({{item.visible}})
    </div>
  </td>
  <td>
    Available at
  </td>
  <td>
    Due at
  </td>
  <td class="align-right">
    -/10 pts
  </td>
  {{#if editable}}
    <td class="align-right">
      {{canvas-module-item-publish published=item.published}}
    </td>
    <td>
      {{canvas-module-item-cog item=item}}
    </td>
  {{else}}
    <td style="padding: 0;background-color: #ECF7EB;width: 40px; text-align: center;vertical-align: middle;">
      <i class="icon-check" style="color: #34832B;"></i>
    </td>
  {{/if}}
</tr>