<tr {{bindAttr data-module-item-id="item.id" class=":module-item item.visible:visible:hidden"}}>
  <td class="long">
    {{#if editable}}
      <img class="drag-handler" src="img/item-handle.png" style="height: 12px;padding-bottom: 4px;" />
    {{/if}}

    <div style="display: inline-block;" {{bindAttr class=item.indentClass}}>
      <span class="type_icon" {{bindAttr title=item.type}}>
        <i {{bindAttr class=item.iconClass}} aria-label="Item type: Assignment"></i>
      </span>

      <a class="module-item-title" {{bindAttr href=item.url}}>{{item.title}}</a>
      ({{item.visible}})
    </div>
  </td>
  <td class="small-text">
    <strong>Available at</strong> Sep 4, 2013
  </td>
  <td class="small-text">
    <strong>Due at</strong> Sep 4, 2013
  </td>
  <td class="align-right small-text">
    -/10 pts
  <td class="align-right">
    {{canvas-module-item-publish published=item.published}}
  </td>
  <td>
    {{canvas-module-item-cog item=item}}
    </td> 
</tr>