<tr {{bindAttr data-module-item-id="item.id"}} class="module-item">
  <td class="long">
    <img src="img/item-handle.png" style="height: 12px;padding-bottom: 4px;" />
    <!-- span class="type_icon" title="Quiz">
    <i class="icon-document" aria-label="Item type: Document"></i>
    <i class="icon-download" aria-label="Item type: Download"></i>
    <i class="icon-discussion" aria-label="Item type: Discussion"></i>
    <i class="icon-assignment" aria-label="Item type: Assignment"></i>
    <i class="icon-quiz" aria-label="Item type: Quiz"></i>
    <i class="icon-link" aria-label="Item type: Link"></i>
    </span -->
    <div style="display: inline-block;" {{bindAttr class=item.indentClass}}>
      <i class="icon-assignment"></i>
      {{item.title}}
    </div>
  </td>
  <td>
    Available at
  </td>
  <td>
    Due at
  </td>
  <td class="align-right">
    -/10 pts
  </td>
  <td class="align-right">
    {{canvas-module-item-publish published=item.published}}
  </td>
  <td>
    {{canvas-module-item-cog item=item}}
  </td>
</tr>