<div {{bindAttr class=":module :item-group-condensed module.hidden:hidden:visible" data-module-id="module.id"}}>
  <div class="module-header clearfix">
    {{#if module.items.length}}
      <a {{action 'toggleExpandCollapse'}} class="pull-left toggle-link module-header-item">
      {{#if module.expanded}}
        <i class="icon-arrow-down"></i>
      {{else}}
        <i class="icon-arrow-right"></i>
      {{/if}}
        </a>
    {{/if}}
    <span class="pull-left module-header-item h5">{{module.name}}</span>
    <span class="pull-right module-header-item">
      <a href="#" class="btn module-settings-button">
        <i class="iconf-settings"></i><i class="icon-arrow-down"></i>
      </a>
    </span>
    <span class="pull-right module-header-item">
      <button class="btn add-item-button" {{action 'toggleProperty' 'addModuleItemModalOpen'}}>
        <i class="icon-plus"></i>
        <span class="screenreader-only">Add</span>
      </button>
    </span>
    <span class="pull-right module-header-item">{{canvas-module-publish published=module.published}}</span>
    <span class="pull-right module-header-item">{{instructure-prereq module=module}}</span>
  </div>
  <table class="table sortable-module-items" style="min-height: 30px;min-width: 900px;">
    <tbody {{bindAttr class=":sortable empty"}}>
      {{#each item in module.items}}
        {{render "module_item" item}}
      {{/each}}
    <tbody>
  </table>
  {{#if module.items.links.next}}
    {{#unless module.items.loading}}
    <div style="margin: 4px;text-align: center;">
      <a {{action 'loadNextPage'}} class="btn btn-mini next-module-item-page-button">
        More
        <i class="icon-arrow-down"></i>
      </a>
    </div>
    {{/unless}}
  {{/if}}
  {{#if module.items.loading}}
    {{instructure-spinner}}
  {{/if}}
</div>

{{#if addModuleItemModalOpen}}
  {{ic-add-module-item open=addModuleItemModalOpen module=module}}
{{/if}}