<div class="test-modal-overlay-translucent"></div>
<div class="test-modal-overlay">
  <div class="test-modal">
    <div class="test-modal-titlebar">
      <div class="test-modal-close">
        {{#ic-popover-close}}
          <a class="btn btn-mini test2">
            <i class="icon-x"></i>
          </a>
        {{/ic-popover-close}}
      </div>
      Add Item
    </div>

    <form class="form form-horizontal">
      <div class="test-modal-content">
        <div class="control-group">
          <label class="control-label" for="inputEmail">Type:</label>
          <div class="controls">
            {{view Ember.Select
                contentBinding="types"
                valueBinding="module_item.type"
                optionValuePath="content.key"
                optionLabelPath="content.value"}}
          </div>
        </div>

        <hr />

        {{#if isAssignment}}
          {{#if isNewAssignment}}
            <div class="control-group">
              <label class="control-label">Name:</label>
              <div class="controls">
                {{input type="text" value=new_assignment.name}}
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Group:</label>
              <div class="controls">
                {{view Ember.Select
                    contentBinding="assignment_groups"
                    valueBinding="new_assignment.assignment_group"
                    optionValuePath="content.id"
                    optionLabelPath="content.name"
                    disabledBinding="assignment_groups.loading"}}
                {{#if assignment_groups.loading}}
                  {{instructure-spinner}}
                {{/if}}
              </div>
            </div>

            <div class="control-group">
              <label class="control-label"></label>
              <div class="controls">
                <div>
                  <div>Due:</div>
                  {{input type="text" value=new_assignment.due}}
                </div>

                <div>
                  <div>Points:</div>
                  {{input type="text" value=new_assignment.points}}
                </div>
              </div>
            </div>

            {{#if assignments.length}}
              <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                  or <a {{action 'toggleProperty' 'isNewAssignment'}}>Select Existing Assignment</a>
                </div>
              </div>
            {{/if}}
          {{else}}
            <div class="control-group">
              <label class="control-label">Assignment:</label>
              <div class="controls">
                {{view Ember.Select
                  contentBinding="assignments"
                  valueBinding="module_item.content_id"
                  optionValuePath="content.id"
                  optionLabelPath="content.name"
                  prompt="Select an Assignment"
                  disabledBinding="assignments.loading"}}
                {{#if assignments.loading}}
                  {{instructure-spinner}}
                {{/if}}
              </div>
            </div>

            <div class="control-group">
              <label class="control-label"></label>
              <div class="controls">
                or <a {{action 'toggleProperty' 'isNewAssignment'}}>Add New Assignment</a>
              </div>
            </div>
          {{/if}}
        {{/if}}

        {{#if isQuiz}}
          {{#if isNewQuiz}}
            <div class="control-group">
              <label class="control-label">Title:</label>
              <div class="controls">
                {{input type="text" value=new_quiz.title}}
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">Group:</label>
              <div class="controls">
                {{view Ember.Select
                    contentBinding="assignment_groups"
                    valueBinding="new_quiz.assignment_group_id"
                    optionValuePath="content.id"
                    optionLabelPath="content.name"
                    disabledBinding="assignment_groups.loading"}}
                {{#if assignment_groups.loading}}
                  {{instructure-spinner}}
                {{/if}}
              </div>
            </div>

            {{#if quizzes.length}}
              <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                  or <a {{action 'toggleProperty' 'isNewQuiz'}}>Select Existing Quiz</a>
                </div>
              </div>
            {{/if}}
          {{else}}
            <div class="control-group">
              <label class="control-label">Quiz:</label>
              <div class="controls">
                  {{view Ember.Select
                      contentBinding="quizzes"
                      valueBinding="module_item.content_id"
                      optionValuePath="content.id"
                      optionLabelPath="content.title"
                      prompt="Select a Quiz"
                      disabledBinding="quizzes.loading"}}
                  {{#if quizzes.loading}}
                    {{instructure-spinner}}
                  {{/if}}
              </div>
            </div>

            <div class="control-group">
              <label class="control-label"></label>
              <div class="controls">
                or <a {{action 'toggleProperty' 'isNewQuiz'}}>Add New Quiz</a>
              </div>
            </div>
          {{/if}}
        {{/if}}

        {{#if isAttachment}}
          {{#if isNewAttachment}}
            [Folder, file]

            {{#if files.length}}
              <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                  or <a {{action 'toggleProperty' 'isNewAttachment'}}>Select Existing File</a>
                </div>
              </div>
            {{/if}}
          {{else}}
            <div class="control-group">
              <label class="control-label"></label>
              <div class="controls">
                or <a {{action 'toggleProperty' 'isNewAttachment'}}>Add New File</a>
              </div>
            </div>
          {{/if}}
        {{/if}}

        {{#if isContentPage}} 
          {{#if isNewContentPage}}
            <div class="control-group">
              <label class="control-label">Title:</label>
              <div class="controls">
                {{input type="text" value=new_page.title}}
              </div>
            </div>

            {{#if pages.length}}
              <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                  or <a {{action 'toggleProperty' 'isNewContentPage'}}>Use Existing Page</a>
                </div>
              </div>
            {{/if}}
          {{else}}
            <div class="control-group">
              <label class="control-label">Page:</label>
              <div class="controls">
                {{view Ember.Select
                      contentBinding="pages"
                      valueBinding="module_item.page_url"
                      optionValuePath="content.url"
                      optionLabelPath="content.title"
                      prompt="Select a Page"
                      disabledBinding="pages.loading"}}
                {{#if pages.loading}}
                  {{instructure-spinner}}
                {{/if}}
              </div>
            </div>

            <div class="control-group">
              <label class="control-label"></label>
              <div class="controls">
                or <a {{action 'toggleProperty' 'isNewContentPage'}}>Add New Page</a>
              </div>
            </div>
          {{/if}}


          {{#if isNewWikiPage}}
            <div class="control-group">
              <label class="control-label">Page Name:</label>
              <div class="controls">
                <input type="text" />
              </div>
            </div>
          {{/if}}
        {{/if}}

        {{#if isDiscussion}}  
          {{#if isNewDiscussion}}
            <div class="control-group">
              <label class="control-label">Topic:</label>
              <div class="controls">
                {{input type="text" value=new_discussion.title}}
              </div>
            </div>

            {{#if discussion_topics.length}}
              <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                  or <a {{action 'toggleProperty' 'isNewDiscussion'}}>Use Existing Discussion Topic</a>
                </div>
              </div>
            {{/if}}
          {{else}}
            <div class="control-group">
              <label class="control-label">Topic:</label>
              <div class="controls"> 
                  {{view Ember.Select
                        contentBinding="discussion_topics"
                        valueBinding="module_item.content_id"
                        optionValuePath="content.id"
                        optionLabelPath="content.title"
                        prompt="Select a Discussion Topic"
                      disabledBinding="discussion_topics.loading"}}
                  {{#if discussion_topics.loading}}
                    {{instructure-spinner}}
                  {{/if}}
              </div>
            </div>

            <div class="control-group">
              <label class="control-label"></label>
              <div class="controls">
                or <a {{action 'toggleProperty' 'isNewDiscussion'}}>Add New Discussion Topic</a>
              </div>
            </div>
          {{/if}}

        {{/if}}

        {{#if isSubHeader}}
          <div class="control-group">
            <label class="control-label">Header:</label>
            <div class="controls">
              {{input type="text" value=module_item.title}}
            </div>
          </div>
        {{/if}}

        {{#if isExternalUrl}}
          <div class="control-group">
            <label class="control-label">URL:</label>
            <div class="controls">
              {{input type="url" value=module_item.external_url}}
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Page Name:</label>
            <div class="controls">
              {{input type="text" value=module_item.title}}
            </div>
          </div>
        {{/if}}

        {{#if isExternalTool}}  
          <div class="control-group">
            <label class="control-label">URL:</label>
            <div class="controls">
              {{input type="url" value=module_item.external_url}}
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Page Name:</label>
            <div class="controls">
              {{input type="text" value=module_item.title}}
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <label>
                {{input type="checkbox" value=module_item.new_tab}}
                Load this tool in a new tab
              <label>
            </div>
          </div>
        {{/if}}

        <hr />

        {{indent}}

        <div class="control-group">
          <label class="control-label">Indentation:</label>
          <div class="controls">
            {{view Ember.TextField valueBinding="module_item.indent" min="0" step="1" max="4" type="number"}}
            <!-- div class="btn-group">
              <button class="btn active">0</button>
              <button class="btn">1</button>
              <button class="btn">2</button>
              <button class="btn">3</button>
            </div -->
          </div>
        </div>

        <hr />   

        <div><strong>Item requirements for module completion:</strong></div>

        {{view Ember.Select
          contentBinding="requirement_types"
          valueBinding="module_item.completion_requirement.type"
          optionValuePath="content.key"
          optionLabelPath="content.value"
          multiple=true}}

        <div>
          <label>
            <input type="checkbox" /> Score at least {{input type="text" value=module_item.completion_requirement.min_score}} out of 10
          </label>
        </div>
      </div>
      <div class="test-modal-footer">
        {{#ic-popover-close}}
          <a class="btn">Cancel</a>
        {{/ic-popover-close}}
        <button {{action 'save'}} class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>