<div class="modules-toolbar">
  <div class="pull-right editable-show">
    <a href="#" class="btn preview-modules-button">
      Preview
    </a>
    <a href="#" class="btn btn-primary add-module-button">
      <i class="icon-plus"></i> Module
    </a>
    <a href="#" class="btn modules-settings-button">
      <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
    </a>
  </div>
  <input type="search" placeholder="Search for module or item inside module" class="module-search">
</div>

<div class="item-group-container sortable-modules">
  {{#each module in controller}}
    <div class="module item-group-condensed" {{bindAttr data-module-id="module.id"}}>
      <table class="table sortable-module-items" style="min-height: 30px;">
        <thead>
        <tr>
          <th colspan="4">
            <h3>{{module.name}}</h3>
          </th>
          <th class="no-wrap align-right">
            <span class="module-published-button no-wrap">
              Published <i class="icon-publish" aria-hidden="true"></i>
            </span>
          </th>
          <th class="inherit-width">
            <a href="#" class="btn add-item-button">
              <i class="icon-plus"></i>
            </a>
            <a href="#" class="btn module-settings-button">
              <i class="icon-settings"></i><i class="icon-mini-arrow-down"></i>
            </a>
          </th>
        </tr>
        </thead>
        <tbody {{bindAttr class=":sortable empty"}}>
          {{#each item in module.items}}
          <tr {{bindAttr data-module-item-id="item.id"}} class="module-item">
            <td class="handler-cell compact">
              [Handle]
            </td>
            <td class="long">
              <!-- span class="type_icon" title="Quiz">
              <i class="icon-document" aria-label="Item type: Document"></i>
              <i class="icon-download" aria-label="Item type: Download"></i>
              <i class="icon-discussion" aria-label="Item type: Discussion"></i>
              <i class="icon-assignment" aria-label="Item type: Assignment"></i>
              <i class="icon-quiz" aria-label="Item type: Quiz"></i>
              <i class="icon-link" aria-label="Item type: Link"></i>
              </span -->
              <i class="icon-assignment"></i>
              {{item.title}}
            </td>
            <td class="no-wrap">
              Due at
            </td>
            <td class="no-wrap">
              Available at
            </td>
            <td class="no-wrap align-right">
              Published
            </td>
            <td>
              [Cog]
            </td>
          </tr>
          {{/each}}
        <tbody>
      </table>
    </div>
  {{/each}}
</div>